.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}
.form-container{
    background-color: beige;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 2px solid black;
    padding: 50px;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
}
.form-title{
    background-color: #1882da;
    /* background-color: #136385; */
    display:flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.form-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-input label {
    flex: 0 0 200px;
    text-align: right;
    padding-right: 15px;
}

.form-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 300px;
}